body {
    margin: 0;
    font-family: Arial;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1f1f1f, #3a3a3a);
    color: white;
}

.hero span {
    color: #00adb5;
}

button {
    padding: 10px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
}

.skill-box {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #eee;
    border-radius: 20px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}
